os: 
- osx
- ubuntu
language: python
python:
- '3.6'
- '3.7'
- '3.8'
- '3.9'
before_install:
- PYTHON_MAJOR_VERSION=`echo $TRAVIS_PYTHON_VERSION | head -c 1`
- sudo apt-get install python3-pip
install:
- virtualenv -p python3 venv
- source venv/bin/activate
- pip3 install numpy
- pip3 install -e .
- pip3 install -r requirements_dev.txt
script:
- python3 -m pytest -v -x automated_test.py
after_success:
- python3 setup.py bdist_wheel
